main {
    display: flex;
    justify-content: center;
}

.main {
    min-width: 350px;
    margin: 0;
}

.case {
    display: inline-block;
    position: relative;
    width: 380px;
    height: 580px;
    background-image: url('https://www.instagram.com/static/images/homepage/phones/home-phones-2x.png/cbc7174b4f05.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.phone {
    display: block;
    position: absolute;
    right: 32px;
    width: 60%;
    bottom: 59px;
    height: 498px;
}